body{
    margin: 0;
}
/*Top Nav*/
.topNav{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.topNav div{
    padding: 20px 0;
}
.topNav a{
    text-decoration: none;
    color: cornflowerblue;
    padding: 20px 30px;
}
.topNav a:visited{
    color: cornflowerblue;
}
.topNav a:hover{
    color: black;
    background-color: lightgray;
}

.topNav div a{
    padding: 20px 30px;
    margin: 0 5px;
}


.topNav #loginButton{
    padding: 10px 20px;
    background-color: darkseagreen;
    border-radius: 5px;
    color: white;
    border: 1px solid;
}
.topNav #loginButton:hover{
    background-color: darkolivegreen;
    cursor: pointer;
}
.topNav #signupButton{
    padding: 10px 20px; 
    border-radius: 5px;
    border: 1px solid;
}
.topNav #signupButton:hover{
    cursor: pointer;
}

/*Product Form*/

.productForm{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: auto;
}

.productForm input{
    padding: 10px 15px;
    font-size: large;
    border-radius: 10px;
}

#submitButton{
    width: 20%;
    margin: 20px auto;
    background-color:darkseagreen;
    border: 0px solid;
    color: white;
}

#submitButton:hover{
    background-color: darkolivegreen;
    cursor: pointer;
}

/*Product Table*/

.productTables{
    border: 1px solid gray;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    border-radius: 2px;
}

.productTables th,td{
    border: 1px solid gray;
    border-radius: 2px;
}


/*Buttons*/

.button{
    margin: 20px auto;
    background-color:darkseagreen;
    border: 0px solid;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.button:hover{
    background-color: darkolivegreen;
    cursor: pointer;
}
/*404 Page*/

.errorPage{
    background-color: #0078D7;
    color: white;
    width: 60vw;
    height: 100vh;
    display: flex;
    padding: 0 20vw;
    justify-content: center;
    flex-direction: column;
    font-family: "Consolas";
}

.errorPage b{
    font-size: 10vw;
    font-weight: 100;
    margin: 0;
}
.errorPage p{
    font-size: 1.5vw;
    width: 60vw;
    margin-bottom: 2.5vw;
}
.errorPage h1{
    font-size: 2vw;
    margin: 0;
}
.errorPage div{
    margin-top: 5vw;
    display: flex;
}
.errorPage div section{
    margin-left: 1vw;
    height: 10vw;
    flex-direction: column;
    justify-content: space-between;
}
.errorPage div img{
    width: 10vw;
}

.errorPage div a{
    color: white;
    text-decoration: none;
}
.errorPage div a:hover{
    color: gainsboro;
}
.errorPage div a:visited{
    color: white;
}
.errorPage div p{
    margin: 1vw 0;
    font-size: 1vw
}
.errorPage div p:first-of-type{
    margin-top: 5.25vw;
}
.errorPage div span{
    margin: 0;
    font-size: 1vw;
}