/*Top Nav*/
.topNav{
    display: flex;
    gap: 3vw;
}

.topNav a{
    text-decoration: none;
    color: cornflowerblue;
}
.topNav a:visited{
    color: cornflowerblue;
}
.topNav a:hover{
    color: gray;
}